<form action="/<%= @filename %>" method="post">
  <label for="content">Edit content of <%= @filename %>:</label>
  <div>
    <textarea name="content" id="content" cols="100" rows="20"><%= @content %></textarea><br>
  </div>
  <button type="submit">Save Changes</button>
</form>