<form method="post" action="/users/signin">
  <div>
    <label for="username">Username:
      <input id="username" type="text" name="username" />
    </label>
  </div>
  <div>
    <label for="password">Password:
      <input id="password" type="text" name="password" />
    </label>
  </div>
  <button type="submit">Sign In</button>
</form>
