<h1>Create a new contact</h1>
<form method="post" action="/new">
  <label for="name">Name:</label>
  <input type="text" name="name">
  
  <label for="phone">Phone Number:</label>
  <input type="text" name="phone">
  
  <label for="email">Email:</label>
  <input type="text" name="email">
  
  <label for="group">Group:</label>
  <select name="group" id="group">
    <option>Friends</option>
    <option>Family</option>
    <option>Work</option>
  </select>
  
  <button type="submit">Save</button>
</form>